:root {
    --brand-color-text: #212121;
    --brand-color-hero: #FFFFFF;
    --brand-color-backgraund: #2F303A;
    --brand-color-link: #2196F3;
    --brand-color-logo: #2196F3;
    --brand-color-logo-two: #000000;
    --brand-color-description: #757575;
    --brand-color-button: #2196F3;
    --brand-color-contacts: rgba(255, 255, 255, 0.6);
}
body {
    
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color-text);
    
}
.title-feat {
    
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color-text);
}
.text-feat {
    
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--brand-color-description);
}
.title-busi {
    
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
}
.titles {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;    
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
}
.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;    
    letter-spacing: 0.03em;
    color: var(--brand-color-description);

}
.titles-portf {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--brand-color-text);
}
.desc-portf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--brand-color-description);
}
.link-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-color-logo);
    text-decoration: none;
}
.link-logo-two {
    font-family: 'Raleway', sans-serif;
    color: var(--brand-color-logo-two);
    text-decoration: none;
}
.link-logo-three {
    color: var(--brand-color-hero);
}
.link-style {
    list-style: none;
}
.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-color-text);  
}
.link-cont {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-color-description);
}
.link-cont:hover {
    color: var(--brand-color-link);
}
.link-cont:focus {
    color: var(--brand-color-link); 
}
.link-add {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--brand-color-hero);
}
.link-add:hover {
    color: var(--brand-color-link);
}
.link-add:focus {
    color: var(--brand-color-link);
} 
.link-cont-two {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--brand-color-contacts);
}
.link-cont-two:hover {
    color: var(--brand-color-link);
}
.link-cont-two:focus {
    color: var(--brand-color-link); 
}
.link:hover {
    color: var(--brand-color-link);
}
.link:focus {
    color: var(--brand-color-link);
}
.section {
    background-color: var(--brand-color-backgraund);
}
.section-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--brand-color-hero);
}
.button-zero {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--brand-color-hero);
    background: var(--brand-color-button);
    cursor: pointer;
}
.button-one {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
    cursor: pointer;
}
.button-two {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
    cursor: pointer;
}
.button-three {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
    cursor: pointer;
}
.button-four {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
    cursor: pointer;
}
.button-five {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
    cursor: pointer;
}
.bgd {
    background: var(--brand-color-backgraund);
}
.address-style {
    font-style: normal;
}
